@media screen and (min-width: 350px) {
    .OurServices {
        margin-top: 3rem;
    }

    .OurServices-heaader {
        padding: 15px;
        text-align: center;
    }

    .OurServices-heaader h1 {
        margin-top: 20px;
        font-size: 0;
        margin-bottom: 30px;
    }

    .OurServices-heaader-content {
        text-align: center;
        margin-top: 5rem;
    }

    .OurServices-heaader-contentOne h2 {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .OurServices-innerfelex {
        gap: 3rem;
        justify-content: center;
        margin-bottom: 4rem;
    }


    .OurServices-heaader-contentOne-img {
        width: 16rem;
        height: 13rem;
    }

    .OurServices-heaader hr {
        display: none;
    }
}





@media screen and (min-width: 1050px) {
    .OurServices {
        margin-left: 2rem;
        margin-top: 10rem;
    }

    .OurServices-heaader {
        padding: 0;
    }

    .OurServices-heaader h1 {
        text-align: 0;
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .OurServices-heaader-content {
        text-align: center;
        margin-top: 9rem;
    }

    .OurServices-heaader-contentOne h2 {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .OurServices-innerfelex {
        display: flex;
        gap: 3rem;
        justify-content: center;
        margin-bottom: 4rem;
    }


    .OurServices-heaader-contentOne-img {
        width: 20rem;
        height: 13rem;
    }

    .OurServices-heaader hr {
        width: 17rem;
        border: 5px solid green;
        margin-left: 11.5rem;
        display: block;
    }
}

.onee {
    width: 12.5rem;
    margin-bottom: 25px;
    height: 8.5rem;
}

.first {
    margin-top: 2.9rem;
}

