.Navbar {
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 2rem;
}

.Navbar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.Navbar-header-contentOne {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Navbar-header-contentOne h2 {
    margin: 0;
    font-size: 1.5rem;
    color: black;
}

.Navbar-header-contentTwo {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.557);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.346);
    border-radius: 7px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
}

.Navbar-header-contentThree button {
    padding: 0.75rem 1rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    width: 7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Navbar-header-contentThree button:hover {
    background-color: rgba(0, 128, 0, 0.81);
}